In [1]:
# Importing modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import gridspec
%matplotlib inline
sns.set(color_codes=True)

In [2]:
# read the dataset
spreadsheet=pd.read_csv('/Users/Hp/Downloads/NSE_data_all_stocks_2020.csv')

In [3]:
spreadsheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17892 entries, 0 to 17891
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       17892 non-null  object
 1   CODE       17892 non-null  object
 2   NAME       17892 non-null  object
 3   12m Low    17892 non-null  object
 4   12m High   17892 non-null  object
 5   Day Low    17892 non-null  object
 6   Day High   17892 non-null  object
 7   Day Price  17892 non-null  object
 8   Previous   17892 non-null  object
 9   Change     17892 non-null  object
 10  Change%    17892 non-null  object
 11  Volume     17892 non-null  object
 12  Adjust     17892 non-null  object
dtypes: object(13)
memory usage: 1.8+ MB

In [15]:
spreadsheet.columns

Index(['DATE', 'CODE', 'NAME', '12m Low', '12m High', 'Day Low', 'Day High',
       'Day Price', 'Previous', 'Change', 'Change%', 'Volume', 'Adjust'],
      dtype='object')

In [4]:
spreadsheet.describe()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
count,17892,17892,17892,17892,17892,17892,17892,17892,17892,17892,17892,17892,17892
unique,252,71,71,141,249,3448,3421,3773,3772,1430,942,4070,1
top,02-Jan-20,EGAD,Eaagads Ltd,20,6,6,6,6,6,-,-,-,-
freq,71,252,252,381,415,306,331,300,299,7075,7080,6746,17892

In [5]:
spreadsheet.columns

Index(['DATE', 'CODE', 'NAME', '12m Low', '12m High', 'Day Low', 'Day High',
       'Day Price', 'Previous', 'Change', 'Change%', 'Volume', 'Adjust'],
      dtype='object')

In [6]:
spreadsheet.dtypes

DATE         object
CODE         object
NAME         object
12m Low      object
12m High     object
Day Low      object
Day High     object
Day Price    object
Previous     object
Change       object
Change%      object
Volume       object
Adjust       object
dtype: object

In [7]:
# Dropping irrelevant columns
Spreadsheet = spreadsheet.drop(['Adjust', 'Volume', 'Change', 'Previous', 'CODE'], axis=1)
spreadsheet.head(5)

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,02-Jan-20,EGAD,Eaagads Ltd,8.2,14,10.1,10.1,10.1,10.1,-,-,-,-
1,02-Jan-20,KUKZ,Kakuzi Plc,300,423.5,340,340,340,340,-,-,-,-
2,02-Jan-20,KAPC,Kapchorua Tea Kenya Plc,59,95,80,80,80,80,-,-,-,-
3,02-Jan-20,LIMT,Limuru Tea Plc,385,475,450,450,450,450,-,-,-,-
4,02-Jan-20,SASN,Sasini Plc,14.8,19.6,16.15,16.15,16.15,16.9,-0.75,4.44%,300,-

In [8]:
duplicate_rows_spreadsheet = spreadsheet[spreadsheet.duplicated()]
print("number of duplicate rows: ", duplicate_rows_spreadsheet.shape)

number of duplicate rows:  (0, 13)

In [9]:
spreadsheet = spreadsheet.drop_duplicates()
spreadsheet.head(5)

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,02-Jan-20,EGAD,Eaagads Ltd,8.2,14,10.1,10.1,10.1,10.1,-,-,-,-
1,02-Jan-20,KUKZ,Kakuzi Plc,300,423.5,340,340,340,340,-,-,-,-
2,02-Jan-20,KAPC,Kapchorua Tea Kenya Plc,59,95,80,80,80,80,-,-,-,-
3,02-Jan-20,LIMT,Limuru Tea Plc,385,475,450,450,450,450,-,-,-,-
4,02-Jan-20,SASN,Sasini Plc,14.8,19.6,16.15,16.15,16.15,16.9,-0.75,4.44%,300,-

In [10]:
# After removing duplicate data
spreadsheet.count()

DATE         17892
CODE         17892
NAME         17892
12m Low      17892
12m High     17892
Day Low      17892
Day High     17892
Day Price    17892
Previous     17892
Change       17892
Change%      17892
Volume       17892
Adjust       17892
dtype: int64

In [11]:
# Dropping missing or null values
print(spreadsheet.isnull().sum())

DATE         0
CODE         0
NAME         0
12m Low      0
12m High     0
Day Low      0
Day High     0
Day Price    0
Previous     0
Change       0
Change%      0
Volume       0
Adjust       0
dtype: int64

In [12]:
# Dropping missing values
spreadsheet = spreadsheet.dropna()
spreadsheet.count()

DATE         17892
CODE         17892
NAME         17892
12m Low      17892
12m High     17892
Day Low      17892
Day High     17892
Day Price    17892
Previous     17892
Change       17892
Change%      17892
Volume       17892
Adjust       17892
dtype: int64

In [13]:
# After dropping the values
print(spreadsheet.isnull().sum())

DATE         0
CODE         0
NAME         0
12m Low      0
12m High     0
Day Low      0
Day High     0
Day Price    0
Previous     0
Change       0
Change%      0
Volume       0
Adjust       0
dtype: int64