In [7]:
# Importing modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import gridspec
%matplotlib inline
sns.set(color_codes=True)

In [8]:
# read the dataset
spreadsheet=pd.read_csv('/Users/Hp/Downloads/NSE_data_all_stocks_2014.csv')

In [9]:
spreadsheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15696 entries, 0 to 15695
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       15695 non-null  object
 1   CODE       15695 non-null  object
 2   NAME       15695 non-null  object
 3   12m Low    15695 non-null  object
 4   12m High   15695 non-null  object
 5   Day Low    15695 non-null  object
 6   Day High   15695 non-null  object
 7   Day Price  15695 non-null  object
 8   Previous   15695 non-null  object
 9   Change     15695 non-null  object
 10  Change%    15695 non-null  object
 11  Volume     15695 non-null  object
 12  Adjust     15695 non-null  object
dtypes: object(13)
memory usage: 1.6+ MB

In [10]:
spreadsheet.describe()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
count,15695,15695,15695,15695,15695,15695,15695,15695,15695,15695,15695,15695,15695
unique,251,65,65,96,102,1932,1935,2361,2359,765,857,4881,1190
top,31-Dec-14,EGAD,Eaagads Ltd,2,33.5,5.5,5.5,5.5,5.5,-,-,-,-
freq,65,251,251,491,502,264,259,256,256,4675,4681,2957,11655

In [11]:
spreadsheet.columns

Index(['DATE', 'CODE', 'NAME', '12m Low', '12m High', 'Day Low', 'Day High',
       'Day Price', 'Previous', 'Change', 'Change%', 'Volume', 'Adjust'],
      dtype='object')

In [12]:
spreadsheet.dtypes

DATE         object
CODE         object
NAME         object
12m Low      object
12m High     object
Day Low      object
Day High     object
Day Price    object
Previous     object
Change       object
Change%      object
Volume       object
Adjust       object
dtype: object

In [13]:
# Dropping irrelevant columns
Spreadsheet = spreadsheet.drop(['Adjust', 'Volume', 'Change', 'Previous', 'CODE'], axis=1)
spreadsheet.head(5)

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,02-Jan-14,EGAD,Eaagads Ltd,8.2,14,23.75,23.75,23.75,23.75,-,-,"1,600",-
1,02-Jan-14,KUKZ,Kakuzi Plc,300,423.5,95,95,95,95,-,-,100,-
2,02-Jan-14,KAPC,Kapchorua Tea Kenya Plc,59,95,125,125,125,125,-,-,-,62.5
3,02-Jan-14,LIMT,Limuru Tea Plc,385,475,500,500,500,500,-,-,-,250
4,02-Jan-14,SASN,Sasini Plc,14.8,19,14.7,15,14.7,14.65,0.05,0.34%,"18,600",-

In [14]:
# Dropping duplicate rows
spreadsheet.shape

(15696, 13)

In [15]:
duplicate_rows_spreadsheet = spreadsheet[spreadsheet.duplicated()]
print("number of duplicate rows: ", duplicate_rows_spreadsheet.shape)

number of duplicate rows:  (0, 13)

In [16]:
# Removing duplicate data
spreadsheet.count()

DATE         15695
CODE         15695
NAME         15695
12m Low      15695
12m High     15695
Day Low      15695
Day High     15695
Day Price    15695
Previous     15695
Change       15695
Change%      15695
Volume       15695
Adjust       15695
dtype: int64

In [17]:
spreadsheet = spreadsheet.drop_duplicates()
spreadsheet.head(5)

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,02-Jan-14,EGAD,Eaagads Ltd,8.2,14,23.75,23.75,23.75,23.75,-,-,"1,600",-
1,02-Jan-14,KUKZ,Kakuzi Plc,300,423.5,95,95,95,95,-,-,100,-
2,02-Jan-14,KAPC,Kapchorua Tea Kenya Plc,59,95,125,125,125,125,-,-,-,62.5
3,02-Jan-14,LIMT,Limuru Tea Plc,385,475,500,500,500,500,-,-,-,250
4,02-Jan-14,SASN,Sasini Plc,14.8,19,14.7,15,14.7,14.65,0.05,0.34%,"18,600",-

In [18]:
spreadsheet.count()

DATE         15695
CODE         15695
NAME         15695
12m Low      15695
12m High     15695
Day Low      15695
Day High     15695
Day Price    15695
Previous     15695
Change       15695
Change%      15695
Volume       15695
Adjust       15695
dtype: int64

In [19]:
# Dropping missing or null values
print(spreadsheet.isnull().sum())

DATE         1
CODE         1
NAME         1
12m Low      1
12m High     1
Day Low      1
Day High     1
Day Price    1
Previous     1
Change       1
Change%      1
Volume       1
Adjust       1
dtype: int64

In [20]:
# Dropping missing values
spreadsheet = spreadsheet.dropna()
spreadsheet.count()

DATE         15695
CODE         15695
NAME         15695
12m Low      15695
12m High     15695
Day Low      15695
Day High     15695
Day Price    15695
Previous     15695
Change       15695
Change%      15695
Volume       15695
Adjust       15695
dtype: int64

In [21]:
# After dropping the values
print(spreadsheet.isnull().sum())

DATE         0
CODE         0
NAME         0
12m Low      0
12m High     0
Day Low      0
Day High     0
Day Price    0
Previous     0
Change       0
Change%      0
Volume       0
Adjust       0
dtype: int64