In [1]:
# Importing modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import gridspec
%matplotlib inline
sns.set(color_codes=True)

In [3]:
# read the dataset
spreadsheet=pd.read_csv('/Users/Hp/Downloads/NSE_data_all_stocks_2016.csv')

In [4]:
spreadsheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16800 entries, 0 to 16799
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       16800 non-null  object
 1   CODE       16800 non-null  object
 2   NAME       16800 non-null  object
 3   12m Low    16800 non-null  object
 4   12m High   16800 non-null  object
 5   Day Low    16800 non-null  object
 6   Day High   16800 non-null  object
 7   Day Price  16800 non-null  object
 8   Previous   16800 non-null  object
 9   Change     16800 non-null  object
 10  Change%    16800 non-null  object
 11  Volume     16800 non-null  object
 12  Adjust     16800 non-null  object
dtypes: object(13)
memory usage: 1.7+ MB

In [5]:
spreadsheet.describe()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
count,16800,16800,16800,16800,16800,16800,16800,16800,16800,16800,16800,16800,16800
unique,248,69,69,99,104,1979,1975,2411,2412,885,863,3810,782
top,30-Dec-16,EGAD,Eaagads Ltd,2,55.5,5.5,5.5,5.5,5.5,-,-,-,-
freq,69,248,248,484,496,487,503,475,476,5961,5966,4373,14355

In [6]:
spreadsheet.columns

Index(['DATE', 'CODE', 'NAME', '12m Low', '12m High', 'Day Low', 'Day High',
       'Day Price', 'Previous', 'Change', 'Change%', 'Volume', 'Adjust'],
      dtype='object')

In [7]:
spreadsheet.dtypes

DATE         object
CODE         object
NAME         object
12m Low      object
12m High     object
Day Low      object
Day High     object
Day Price    object
Previous     object
Change       object
Change%      object
Volume       object
Adjust       object
dtype: object

In [8]:
# Dropping irrelevant columns
Spreadsheet = spreadsheet.drop(['Adjust', 'Volume', 'Change', 'Previous', 'CODE'], axis=1)
spreadsheet.head(5)

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,04-Jan-16,EGAD,Eaagads Ltd,8.2,14,25,25,25,26.75,-1.75,6.54%,400,-
1,04-Jan-16,KUKZ,Kakuzi Plc,300,423.5,317,348,332,317,15,4.73%,200,-
2,04-Jan-16,KAPC,Kapchorua Tea Kenya Plc,59,95,200,200,200,200,-,-,800,100
3,04-Jan-16,LIMT,Limuru Tea Plc,385,475,"1,085.00","1,085.00","1,085.00","1,085.00",-,-,-,-
4,04-Jan-16,SASN,Sasini Plc,14.8,19.6,19.5,19.5,19.5,19.55,-0.05,0.26%,700,-

In [9]:
# Dropping duplicate rows
spreadsheet.shape

(16800, 13)

In [10]:
duplicate_rows_spreadsheet = spreadsheet[spreadsheet.duplicated()]
print("number of duplicate rows: ", duplicate_rows_spreadsheet.shape)

number of duplicate rows:  (0, 13)

In [11]:
# Removing duplicate data
spreadsheet.count()

DATE         16800
CODE         16800
NAME         16800
12m Low      16800
12m High     16800
Day Low      16800
Day High     16800
Day Price    16800
Previous     16800
Change       16800
Change%      16800
Volume       16800
Adjust       16800
dtype: int64

In [12]:
spreadsheet = spreadsheet.drop_duplicates()
spreadsheet.head(5)

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,04-Jan-16,EGAD,Eaagads Ltd,8.2,14,25,25,25,26.75,-1.75,6.54%,400,-
1,04-Jan-16,KUKZ,Kakuzi Plc,300,423.5,317,348,332,317,15,4.73%,200,-
2,04-Jan-16,KAPC,Kapchorua Tea Kenya Plc,59,95,200,200,200,200,-,-,800,100
3,04-Jan-16,LIMT,Limuru Tea Plc,385,475,"1,085.00","1,085.00","1,085.00","1,085.00",-,-,-,-
4,04-Jan-16,SASN,Sasini Plc,14.8,19.6,19.5,19.5,19.5,19.55,-0.05,0.26%,700,-

In [13]:
spreadsheet.count()

DATE         16800
CODE         16800
NAME         16800
12m Low      16800
12m High     16800
Day Low      16800
Day High     16800
Day Price    16800
Previous     16800
Change       16800
Change%      16800
Volume       16800
Adjust       16800
dtype: int64

In [14]:
# Dropping missing or null values
print(spreadsheet.isnull().sum())

DATE         0
CODE         0
NAME         0
12m Low      0
12m High     0
Day Low      0
Day High     0
Day Price    0
Previous     0
Change       0
Change%      0
Volume       0
Adjust       0
dtype: int64

In [15]:
# Dropping missing values
spreadsheet = spreadsheet.dropna()
spreadsheet.count()

DATE         16800
CODE         16800
NAME         16800
12m Low      16800
12m High     16800
Day Low      16800
Day High     16800
Day Price    16800
Previous     16800
Change       16800
Change%      16800
Volume       16800
Adjust       16800
dtype: int64

In [16]:
# After dropping the values
print(spreadsheet.isnull().sum())

DATE         0
CODE         0
NAME         0
12m Low      0
12m High     0
Day Low      0
Day High     0
Day Price    0
Previous     0
Change       0
Change%      0
Volume       0
Adjust       0
dtype: int64