In [1]:
# Importing modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import gridspec
%matplotlib inline
sns.set(color_codes=True)

In [3]:
# read the dataset
spreadsheet=pd.read_csv('/Users/Hp/Downloads/NSE_data_all_stocks_2019.csv')

In [4]:
spreadsheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18147 entries, 0 to 18146
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       18147 non-null  object
 1   CODE       18147 non-null  object
 2   NAME       18147 non-null  object
 3   12m Low    18147 non-null  object
 4   12m High   18147 non-null  object
 5   Day Low    18147 non-null  object
 6   Day High   18147 non-null  object
 7   Day Price  18147 non-null  object
 8   Previous   18147 non-null  object
 9   Change     18147 non-null  object
 10  Change%    18147 non-null  object
 11  Volume     18147 non-null  object
 12  Adjust     18147 non-null  object
dtypes: object(13)
memory usage: 1.8+ MB

In [5]:
spreadsheet.describe()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
count,18147,18147,18147,18147,18147,18147,18147,18147,18147,18147,18147,18147,18147
unique,250,73,73,105,115,3327,3322,3665,3666,1334,933,3179,72
top,02-Jan-19,EGAD,Eaagads Ltd,2,33.5,6,6,6,6,-,-,-,-
freq,73,250,250,494,500,324,351,313,313,6845,6854,6460,17943

In [6]:
spreadsheet.columns

Index(['DATE', 'CODE', 'NAME', '12m Low', '12m High', 'Day Low', 'Day High',
       'Day Price', 'Previous', 'Change', 'Change%', 'Volume', 'Adjust'],
      dtype='object')

In [7]:
spreadsheet.dtypes

DATE         object
CODE         object
NAME         object
12m Low      object
12m High     object
Day Low      object
Day High     object
Day Price    object
Previous     object
Change       object
Change%      object
Volume       object
Adjust       object
dtype: object

In [8]:
# Dropping irrelevant columns
Spreadsheet = spreadsheet.drop(['Adjust', 'Volume', 'Change', 'Previous', 'CODE'], axis=1)
spreadsheet.head(5)

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,02-Jan-19,EGAD,Eaagads Ltd,8.2,14,14.5,14.5,14.5,14.5,-,-,-,-
1,02-Jan-19,KUKZ,Kakuzi Plc,300,423.5,310,310,310,310,-,-,-,-
2,02-Jan-19,KAPC,Kapchorua Tea Kenya Plc,59,95,74.5,74.5,74.5,75,-0.5,0.67%,200,-
3,02-Jan-19,LIMT,Limuru Tea Plc,385,475,500,500,500,500,-,-,-,-
4,02-Jan-19,SASN,Sasini Plc,14.8,19,19,21,19.8,19.9,-0.1,0.50%,"1,000",-

In [9]:
duplicate_rows_spreadsheet = spreadsheet[spreadsheet.duplicated()]
print("number of duplicate rows: ", duplicate_rows_spreadsheet.shape)

number of duplicate rows:  (0, 13)

In [10]:
# Removing duplicate data
spreadsheet.count()

DATE         18147
CODE         18147
NAME         18147
12m Low      18147
12m High     18147
Day Low      18147
Day High     18147
Day Price    18147
Previous     18147
Change       18147
Change%      18147
Volume       18147
Adjust       18147
dtype: int64

In [11]:
spreadsheet = spreadsheet.drop_duplicates()
spreadsheet.head(5)

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,02-Jan-19,EGAD,Eaagads Ltd,8.2,14,14.5,14.5,14.5,14.5,-,-,-,-
1,02-Jan-19,KUKZ,Kakuzi Plc,300,423.5,310,310,310,310,-,-,-,-
2,02-Jan-19,KAPC,Kapchorua Tea Kenya Plc,59,95,74.5,74.5,74.5,75,-0.5,0.67%,200,-
3,02-Jan-19,LIMT,Limuru Tea Plc,385,475,500,500,500,500,-,-,-,-
4,02-Jan-19,SASN,Sasini Plc,14.8,19,19,21,19.8,19.9,-0.1,0.50%,"1,000",-

In [12]:
# After removing duplicate data
spreadsheet.count()

DATE         18147
CODE         18147
NAME         18147
12m Low      18147
12m High     18147
Day Low      18147
Day High     18147
Day Price    18147
Previous     18147
Change       18147
Change%      18147
Volume       18147
Adjust       18147
dtype: int64

In [13]:
# Dropping missing or null values
print(spreadsheet.isnull().sum())

DATE         0
CODE         0
NAME         0
12m Low      0
12m High     0
Day Low      0
Day High     0
Day Price    0
Previous     0
Change       0
Change%      0
Volume       0
Adjust       0
dtype: int64

In [14]:
# Dropping missing values
spreadsheet = spreadsheet.dropna()
spreadsheet.count()

DATE         18147
CODE         18147
NAME         18147
12m Low      18147
12m High     18147
Day Low      18147
Day High     18147
Day Price    18147
Previous     18147
Change       18147
Change%      18147
Volume       18147
Adjust       18147
dtype: int64

In [15]:
# After dropping the values
print(spreadsheet.isnull().sum())

DATE         0
CODE         0
NAME         0
12m Low      0
12m High     0
Day Low      0
Day High     0
Day Price    0
Previous     0
Change       0
Change%      0
Volume       0
Adjust       0
dtype: int64