In [1]:
# Importing modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import gridspec
%matplotlib inline
sns.set(color_codes=True)

In [3]:
# read the dataset
spreadsheet=pd.read_csv('/Users/Hp/Downloads/NSE_data_all_stocks_2017.csv')

In [4]:
spreadsheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16981 entries, 0 to 16980
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       16981 non-null  object
 1   CODE       16981 non-null  object
 2   NAME       16981 non-null  object
 3   12m Low    16981 non-null  object
 4   12m High   16981 non-null  object
 5   Day Low    16981 non-null  object
 6   Day High   16981 non-null  object
 7   Day Price  16981 non-null  object
 8   Previous   16981 non-null  object
 9   Change     16981 non-null  object
 10  Change%    16981 non-null  object
 11  Volume     16981 non-null  object
 12  Adjust     16981 non-null  object
dtypes: object(13)
memory usage: 1.7+ MB

In [5]:
spreadsheet.describe()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
count,16981,16981,16981,16981,16981,16981,16981,16981,16981,16981,16981,16981,16981
unique,243,70,70,101,112,1998,2019,2386,2385,951,835,4017,561
top,24-Mar-17,EGAD,Eaagads Ltd,2,55.5,6,6,6,6,-,-,-,-
freq,138,244,244,481,488,319,352,294,293,6587,6597,4664,15350

In [6]:
spreadsheet.columns

Index(['DATE', 'CODE', 'NAME', '12m Low', '12m High', 'Day Low', 'Day High',
       'Day Price', 'Previous', 'Change', 'Change%', 'Volume', 'Adjust'],
      dtype='object')

In [7]:
spreadsheet.dtypes

DATE         object
CODE         object
NAME         object
12m Low      object
12m High     object
Day Low      object
Day High     object
Day Price    object
Previous     object
Change       object
Change%      object
Volume       object
Adjust       object
dtype: object

In [8]:
# Dropping irrelevant columns
Spreadsheet = spreadsheet.drop(['Adjust', 'Volume', 'Change', 'Previous', 'CODE'], axis=1)
spreadsheet.head(5)

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,03-Jan-17,EGAD,Eaagads Ltd,8.2,14,27.25,28,27.75,27.25,0.5,1.83%,"3,500",-
1,03-Jan-17,KUKZ,Kakuzi Plc,300,423.5,280,280,280,309,-29,9.39%,200,-
2,03-Jan-17,KAPC,Kapchorua Tea Kenya Plc,59,95,80,80,80,80,-,-,-,-
3,03-Jan-17,LIMT,Limuru Tea Plc,385,475,530,530,530,530,-,-,100,-
4,03-Jan-17,SASN,Sasini Plc,14.8,19.6,19.2,21,19.9,19.2,0.7,3.65%,"4,900",-

In [9]:
# Dropping duplicate rows
spreadsheet.shape

(16981, 13)

In [10]:
duplicate_rows_spreadsheet = spreadsheet[spreadsheet.duplicated()]
print("number of duplicate rows: ", duplicate_rows_spreadsheet.shape)

number of duplicate rows:  (69, 13)

In [11]:
# Removing duplicate data
spreadsheet.count()

DATE         16981
CODE         16981
NAME         16981
12m Low      16981
12m High     16981
Day Low      16981
Day High     16981
Day Price    16981
Previous     16981
Change       16981
Change%      16981
Volume       16981
Adjust       16981
dtype: int64

In [12]:
spreadsheet = spreadsheet.drop_duplicates()
spreadsheet.head(5)

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,03-Jan-17,EGAD,Eaagads Ltd,8.2,14,27.25,28,27.75,27.25,0.5,1.83%,"3,500",-
1,03-Jan-17,KUKZ,Kakuzi Plc,300,423.5,280,280,280,309,-29,9.39%,200,-
2,03-Jan-17,KAPC,Kapchorua Tea Kenya Plc,59,95,80,80,80,80,-,-,-,-
3,03-Jan-17,LIMT,Limuru Tea Plc,385,475,530,530,530,530,-,-,100,-
4,03-Jan-17,SASN,Sasini Plc,14.8,19.6,19.2,21,19.9,19.2,0.7,3.65%,"4,900",-

In [14]:
# After removing duplicate data
spreadsheet.count()

DATE         16912
CODE         16912
NAME         16912
12m Low      16912
12m High     16912
Day Low      16912
Day High     16912
Day Price    16912
Previous     16912
Change       16912
Change%      16912
Volume       16912
Adjust       16912
dtype: int64

In [15]:
# Dropping missing or null values
print(spreadsheet.isnull().sum())

DATE         0
CODE         0
NAME         0
12m Low      0
12m High     0
Day Low      0
Day High     0
Day Price    0
Previous     0
Change       0
Change%      0
Volume       0
Adjust       0
dtype: int64

In [16]:
# Dropping missing values
spreadsheet = spreadsheet.dropna()
spreadsheet.count()

DATE         16912
CODE         16912
NAME         16912
12m Low      16912
12m High     16912
Day Low      16912
Day High     16912
Day Price    16912
Previous     16912
Change       16912
Change%      16912
Volume       16912
Adjust       16912
dtype: int64

In [17]:
# Dropping missing values
spreadsheet = spreadsheet.dropna()
spreadsheet.count()

DATE         16912
CODE         16912
NAME         16912
12m Low      16912
12m High     16912
Day Low      16912
Day High     16912
Day Price    16912
Previous     16912
Change       16912
Change%      16912
Volume       16912
Adjust       16912
dtype: int64

In [18]:
# After dropping the values
print(spreadsheet.isnull().sum())

DATE         0
CODE         0
NAME         0
12m Low      0
12m High     0
Day Low      0
Day High     0
Day Price    0
Previous     0
Change       0
Change%      0
Volume       0
Adjust       0
dtype: int64