In [1]:
# Importing modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import gridspec
%matplotlib inline
sns.set(color_codes=True)

In [3]:
# read the dataset
spreadsheet=pd.read_csv('/Users/Hp/Downloads/NSE_data_all_stocks_2018.csv')

In [4]:
spreadsheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17651 entries, 0 to 17650
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       17650 non-null  object
 1   CODE       17650 non-null  object
 2   NAME       17650 non-null  object
 3   12m Low    17650 non-null  object
 4   12m High   17650 non-null  object
 5   Day Low    17650 non-null  object
 6   Day High   17650 non-null  object
 7   Day Price  17650 non-null  object
 8   Previous   17650 non-null  object
 9   Change     17650 non-null  object
 10  Change%    17650 non-null  object
 11  Volume     17650 non-null  object
 12  Adjust     17650 non-null  object
dtypes: object(13)
memory usage: 1.8+ MB

In [5]:
spreadsheet.describe()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
count,17650,17650,17650,17650,17650,17650,17650,17650,17650,17650,17650,17650,17650
unique,250,73,73,104,116,2343,2362,2823,2815,1160,853,3703,233
top,31-Dec-18,EGAD,Eaagads Ltd,2,33.5,5,5,5,5,-,-,-,-
freq,73,250,250,495,500,351,387,330,329,6935,6938,4985,16985

In [6]:
spreadsheet.columns

Index(['DATE', 'CODE', 'NAME', '12m Low', '12m High', 'Day Low', 'Day High',
       'Day Price', 'Previous', 'Change', 'Change%', 'Volume', 'Adjust'],
      dtype='object')

In [7]:
spreadsheet.dtypes

DATE         object
CODE         object
NAME         object
12m Low      object
12m High     object
Day Low      object
Day High     object
Day Price    object
Previous     object
Change       object
Change%      object
Volume       object
Adjust       object
dtype: object

In [8]:
# Dropping irrelevant columns
Spreadsheet = spreadsheet.drop(['Adjust', 'Volume', 'Change', 'Previous', 'CODE'], axis=1)
spreadsheet.head(5)

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,02-Jan-18,EGAD,Eaagads Ltd,8.2,14,25,25,25,22.75,2.25,9.89%,"10,500",-
1,02-Jan-18,KUKZ,Kakuzi Plc,300,423.5,329,329,329,329,-,-,-,-
2,02-Jan-18,KAPC,Kapchorua Tea Kenya Plc,59,95,67.5,70,67.5,65.5,2,3.05%,"1,000",-
3,02-Jan-18,LIMT,Limuru Tea Plc,385,475,500,500,500,500,-,-,-,-
4,02-Jan-18,SASN,Sasini Plc,14.8,19.6,27,27.5,27,29.5,-2.5,8.47%,300,-

In [9]:
duplicate_rows_spreadsheet = spreadsheet[spreadsheet.duplicated()]
print("number of duplicate rows: ", duplicate_rows_spreadsheet.shape)

number of duplicate rows:  (0, 13)

In [10]:
# Removing duplicate data
spreadsheet.count()

DATE         17650
CODE         17650
NAME         17650
12m Low      17650
12m High     17650
Day Low      17650
Day High     17650
Day Price    17650
Previous     17650
Change       17650
Change%      17650
Volume       17650
Adjust       17650
dtype: int64

In [11]:
spreadsheet = spreadsheet.drop_duplicates()
spreadsheet.head(5)

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,02-Jan-18,EGAD,Eaagads Ltd,8.2,14,25,25,25,22.75,2.25,9.89%,"10,500",-
1,02-Jan-18,KUKZ,Kakuzi Plc,300,423.5,329,329,329,329,-,-,-,-
2,02-Jan-18,KAPC,Kapchorua Tea Kenya Plc,59,95,67.5,70,67.5,65.5,2,3.05%,"1,000",-
3,02-Jan-18,LIMT,Limuru Tea Plc,385,475,500,500,500,500,-,-,-,-
4,02-Jan-18,SASN,Sasini Plc,14.8,19.6,27,27.5,27,29.5,-2.5,8.47%,300,-

In [12]:
# After removing duplicate data
spreadsheet.count()

DATE         17650
CODE         17650
NAME         17650
12m Low      17650
12m High     17650
Day Low      17650
Day High     17650
Day Price    17650
Previous     17650
Change       17650
Change%      17650
Volume       17650
Adjust       17650
dtype: int64

In [13]:
# Dropping missing or null values
print(spreadsheet.isnull().sum())

DATE         1
CODE         1
NAME         1
12m Low      1
12m High     1
Day Low      1
Day High     1
Day Price    1
Previous     1
Change       1
Change%      1
Volume       1
Adjust       1
dtype: int64

In [14]:
# Dropping missing values
spreadsheet = spreadsheet.dropna()
spreadsheet.count()

DATE         17650
CODE         17650
NAME         17650
12m Low      17650
12m High     17650
Day Low      17650
Day High     17650
Day Price    17650
Previous     17650
Change       17650
Change%      17650
Volume       17650
Adjust       17650
dtype: int64

In [15]:
# After dropping the values
print(spreadsheet.isnull().sum())

DATE         0
CODE         0
NAME         0
12m Low      0
12m High     0
Day Low      0
Day High     0
Day Price    0
Previous     0
Change       0
Change%      0
Volume       0
Adjust       0
dtype: int64