In [22]:
# Importing modules
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import gridspec
%matplotlib inline
sns.set(color_codes=True)

In [4]:
# read the dataset
spreadsheet=pd.read_csv('/Users/Hp/Downloads/NSE_data_all_stocks_2013.csv')

In [5]:
spreadsheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14889 entries, 0 to 14888
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       14889 non-null  object
 1   CODE       14889 non-null  object
 2   NAME       14889 non-null  object
 3   12m Low    14889 non-null  object
 4   12m High   14889 non-null  object
 5   Day Low    14889 non-null  object
 6   Day High   14889 non-null  object
 7   Day Price  14889 non-null  object
 8   Previous   14889 non-null  object
 9   Change     14889 non-null  object
 10  Change%    14889 non-null  object
 11  Volume     14889 non-null  object
 12  Adjust     14889 non-null  object
dtypes: object(13)
memory usage: 1.5+ MB

In [6]:
spreadsheet.describe()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
count,14889,14889,14889,14889,14889,14889,14889,14889,14889,14889,14889,14889,14889
unique,247,62,62,90,101,1811,1807,2146,2147,677,785,4443,1040
top,31-Dec-13,EGAD,Eaagads Ltd,2,55.5,5.5,3,5.5,5.5,-,-,-,-
freq,62,247,247,476,494,269,273,262,262,5096,5099,3231,10521

In [7]:
spreadsheet.columns

Index(['DATE', 'CODE', 'NAME', '12m Low', '12m High', 'Day Low', 'Day High',
       'Day Price', 'Previous', 'Change', 'Change%', 'Volume', 'Adjust'],
      dtype='object')

In [28]:
spreadsheet.dtypes

DATE         object
CODE         object
NAME         object
12m Low      object
12m High     object
Day Low      object
Day High     object
Day Price    object
Previous     object
Change       object
Change%      object
Volume       object
Adjust       object
dtype: object

In [29]:
# Dropping irrelevant columns
Spreadsheet = spreadsheet.drop(['Adjust', 'Volume', 'Change', 'Previous', 'CODE'], axis=1)
spreadsheet.head(5)

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,2-Jan-13,EGAD,Eaagads Ltd,8.2,14,25,25,25,25,-,-,-,-
1,2-Jan-13,KUKZ,Kakuzi Plc,300,423.5,67.5,67.5,67.5,72,-4.5,6.25%,300,-
2,2-Jan-13,KAPC,Kapchorua Tea Kenya Plc,59,95,118,118,118,118,-,-,-,59
3,2-Jan-13,LIMT,Limuru Tea Plc,385,475,430,430,430,430,-,-,-,215
4,2-Jan-13,SASN,Sasini Plc,14.8,19.6,11.7,12.05,11.9,11.7,0.2,1.71%,"14,500",-

In [30]:
# Dropping duplicate rows
spreadsheet.shape

(14889, 13)

In [31]:
duplicate_rows_spreadsheet = spreadsheet[spreadsheet.duplicated()]
print("number of duplicate rows: ", duplicate_rows_spreadsheet.shape)

number of duplicate rows:  (0, 13)

In [32]:
# Removing duplicate data
spreadsheet.count()

DATE         14889
CODE         14889
NAME         14889
12m Low      14889
12m High     14889
Day Low      14889
Day High     14889
Day Price    14889
Previous     14889
Change       14889
Change%      14889
Volume       14889
Adjust       14889
dtype: int64

In [33]:
spreadsheet = spreadsheet.drop_duplicates()
spreadsheet.head(5)

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,2-Jan-13,EGAD,Eaagads Ltd,8.2,14,25,25,25,25,-,-,-,-
1,2-Jan-13,KUKZ,Kakuzi Plc,300,423.5,67.5,67.5,67.5,72,-4.5,6.25%,300,-
2,2-Jan-13,KAPC,Kapchorua Tea Kenya Plc,59,95,118,118,118,118,-,-,-,59
3,2-Jan-13,LIMT,Limuru Tea Plc,385,475,430,430,430,430,-,-,-,215
4,2-Jan-13,SASN,Sasini Plc,14.8,19.6,11.7,12.05,11.9,11.7,0.2,1.71%,"14,500",-

In [34]:
spreadsheet.count()

DATE         14889
CODE         14889
NAME         14889
12m Low      14889
12m High     14889
Day Low      14889
Day High     14889
Day Price    14889
Previous     14889
Change       14889
Change%      14889
Volume       14889
Adjust       14889
dtype: int64

In [35]:
# Dropping missing or null values
print(spreadsheet.isnull().sum())

DATE         0
CODE         0
NAME         0
12m Low      0
12m High     0
Day Low      0
Day High     0
Day Price    0
Previous     0
Change       0
Change%      0
Volume       0
Adjust       0
dtype: int64

In [36]:
# Dropping missing values
spreadsheet = spreadsheet.dropna()
spreadsheet.count()

DATE         14889
CODE         14889
NAME         14889
12m Low      14889
12m High     14889
Day Low      14889
Day High     14889
Day Price    14889
Previous     14889
Change       14889
Change%      14889
Volume       14889
Adjust       14889
dtype: int64

In [37]:
# After dropping the values
print(spreadsheet.isnull().sum())

DATE         0
CODE         0
NAME         0
12m Low      0
12m High     0
Day Low      0
Day High     0
Day Price    0
Previous     0
Change       0
Change%      0
Volume       0
Adjust       0
dtype: int64